@import 'plugin.less'; 
@import 'http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400italic,400,600&subset=latin,latin-ext';

@red:      #df0021;
@redError: #c2151b;
@green:    #85c441;

@darkGrey:       #333333;

@blue:      #2760af;
@blueLight: #e3eaf5;
@blueDark:  #0a1b32;

@wrapperWidth: 960px;

.sprite(@arguments) { background-image: url(img/sprite.png); background-repeat: no-repeat; background-position: @arguments; background-size: 500px 500px; }

::-webkit-input-placeholder { font-family: 'Open Sans', sans-serif; .light(); font-style: italic; }
:-moz-placeholder { font-family: 'Open Sans', sans-serif; .light(); font-style: italic; }
::-moz-placeholder { font-family: 'Open Sans', sans-serif; .light(); font-style: italic; }
:-ms-input-placeholder { font-family: 'Open Sans', sans-serif; .light(); font-style: italic; }

html {
	body { background: url(img/bgr-main-01.jpg) no-repeat center top white; font-family: 'Open Sans', sans-serif; font-size: 1em; overflow-x: hidden; }
}	
* { outline: none; }
a { text-decoration: none; color: inherit; }
input, textarea { font-family: 'Open Sans', sans-serif; color: @darkGrey; .box-sizing(border-box); padding: 5px; .border-radius(3px); border: none; font-size: .9em; }
textarea { width: 100%; }
strong { font-family: 'Open Sans', sans-serif; }
ul { margin: 0; padding: 0;
	li { list-style: none; }
}
h1, h2, h3, h4, h5, h6, p { font-weight: normal; margin: 0; }
table { font-size: 1em; color: inherit; }
.strong() { font-weight: 700; }
.normal() { font-weight: 400; }
.light()  { font-weight: 300; }

.selector { height: 38px; .box-sizing(border-box); padding: 0 10px !important; width: 100% !important; padding: 0; background: @darkGrey !important; border: 1px solid #cdcdcd; .border-radius(3px); 
	&:hover { cursor: pointer; }
	select { background: @darkGrey; color: inherit; height: 100%; top: 1px;
		&:hover { cursor: pointer; }
	}
	span { font-family: proxima_light; font-weight: normal; height: 38px; line-height: 38px; background: none !important; }
}
.hidden  { display: none; }

.f-right { float: right; }
.f-left  { float: left; }
.c-left  { clear: left; }
.c-right { clear: right; }
.c-both  { clear: both; }

.p-rel { position: relative; }

.block   { display: block; }

.i { display: inline-block;
	&.i-shopping-cart { width: 18px; height: 20px; .sprite(-464px 0);  }
	&.i-shopping-cart-w { width: 18px; height: 20px; .sprite(-482px 0); .transition(all .2s ease); }
	&.i-pagi-left  { width: 14px; height: 22px; .sprite(-436px 0); }
	&.i-pagi-right { width: 14px; height: 22px; .sprite(-450px 0); }
}

button { border: none; display: inherit; width: 100%; }
.btn { .border-radius(3px); padding: 10px; text-align: center; display: block; font-family: proxima_bold, sans-serif; text-decoration: none; color: white; .transition(all .3s ease);
	&:hover { cursor: pointer; }
	&.btn-white { background: white;

	}
}
.link { color: @blue; display: block; text-align: center; text-decoration: underline;
	&:hover { color: darken(@blue, 10%); }
	&.margin-top { margin-top: 10px; }
}		
.link-green { color: @green;
	&:hover { cursor: pointer; color: darken(@green, 5%); }
}
.pointer {
	&:hover { cursor: pointer; }
}

.half      { width: 50%; float: left; }
.third     { width: 33.33333%; float: left; }
.t-third   { width: 66.66666%; float: left; }
.quarter   { width: 25%; float: left; }
.t-quarter { width: 75%; float: left; }
.full      { width: 100%; float: left; }

.t-white { color: white !important; }

* { .box-sizing(border-box);
	
}

/* TABS */
.tabs {
	.tab-item { display: none; overflow: hidden;
		&.active { display: block; }
	}
}

/* CONTENT */
.section {
	& > .wrapper { width: @wrapperWidth; margin: 0 auto; display: table;

	}
	.section-row { display: table; width: 100%;
		& + .section-row { margin: 30px 0 0; }
		& > div {
			& > .wrapper { padding: 0 10px; }
		}
		.banner {
			img { max-width: 100%; height: 100%; }
		}
		h2 { text-transform: uppercase; font-size: 1.2em; font-weight: 700; }
	}
}

table {
	&.bordered { font-size: .8em; width: 100%; min-width: 302px;
		tr {
			&:nth-child(2n) {
				td { background: @blueLight; }
			}
			td { padding: 5px 10px; }
		}
	}
}

@orange: #e4792a;
#header {
	#logo { float: left; margin: 23px 0 0; display: inline-block; width: 139px; height: 139px; background: url(img/logo.png) no-repeat; }
	#menu-header-menu { float: right; color: white; text-align: center; font-size: .9em; line-height: 20px; position: relative; z-index: 1000;
		/* FIRST */
		li {

		}
		& > li { float: left; position: relative; padding: 50px 0 0; width: 100px;
			a { display: block; } 
			& > a { padding: 0 0 20px; text-transform: uppercase; border-bottom: 4px solid transparent; }
			&.current-menu-item, &.current-menu-parent, &:hover {
				& > a { font-weight: 700; border-bottom: 4px solid @orange; color: @orange; }
			}
			/* SECOND */
			& > ul { display: none; position: absolute; top: 100%; left: 0;
				& > li { position: relative; width: 200px; margin-left: -50px;
					/* THIRD */
					a { padding: 10px 0; border: 1px solid darken(@orange, 10%); border-top: none; }
					& > a { background: @orange;}
					& > ul { display: none; position: absolute; top: 0; left: 100%; width: 100%;
						& > li {
							a { background: darken(@orange, 5%); border-left: none; }
							&:hover {
								a { background: darken(@orange, 10%); }
							}
						}
					}
					&:hover {
						a { background: darken(@orange, 5%); }
					}
				}
			}
		}
		li:hover {
			& > ul { display: block; }
		}
	}
}

#search { float: right; margin: 27px 10px 0 0; position: relative;
	&:after { content: "\f002"; font-family: FontAwesome; position: absolute; top: 5px; right: 5px; color: @blue; }
}

#main { margin: 20px 0;
	.banner { overflow: hidden; }
	.tabs {
		.tab-header { background: @blue; color: white;text-align: center; .border-radiuses(2px, 0, 0, 2px); font-size: .8em; text-transform: uppercase; .transition(all .3s ease);
			&.active { background: white; color: @blue; }
			a { padding: 10px; display: block; }
		}
		.tab-item { background: white; float: left; width: 100%;

		}
	}
	#content { background: white;
		h1 { padding: 20px; border-bottom: 1px solid #d5dae1; .light(); }
	}
}

.content-wrapper { padding: 20px; }

@newsWidth: 620px;
#top-news { width: @newsWidth;
	#top-news-slider { width: 440px; height: 324px; float: left; position: relative; overflow: hidden;
		.top-news-slide { position: absolute; top: 0; left: 0; width: 100%; height: 100%; .opacity(0); background: @blue; .transition(all .4s ease); z-index: 600;
			&.active { .opacity(1); z-index: 700;
				.title-wrapper {
					.title { bottom: 0; }
				}
			}
			img { position: absolute; top: 0; left: 0; width: 100%; }
			.title-wrapper { position: relative; height: 100%;
				.title { color: white; position: absolute; bottom: -100%; left: 0; width: 100%; background: url(img/bgr-transparent-blue.png); .transition(all .8s ease);
					h3 { margin: 20px 20px 10px; }
					p  { font-size: .8em; margin: 0 20px 20px; }
				}
			}
		}
		.bullets { display: none; }
	}
	#top-news-strips { width: 180px; float: left; padding-left: 1px;
		.top-news-strip { height: 64px; width: 100%; background: green; background: darken(@blue, 0%);; display: block; font-size: .8em; color: white; .transition(all .2s ease);
			& + .top-news-strip { margin-top: 1px; overflow: hidden; }
			&.active { background: url(img/bgr-transparent-blue.png); color: white; }
			&:hover { background: darken(@blue, 10%); color: white; }
			table { width: 100%;
				td { padding-right: 10px;
					&:first-child { width: 1px; }
				}
				img { width: 44px; margin: 10px 0 10px 10px; float: left; }
			}
		}
	}
}

#partners { background: @blueDark; height: 100px;

}

#footer { height: 289px; background: url(img/bgr-footer-01.jpg) no-repeat center; font-size: .9em;
	& > .wrapper { position: relative; height: 100%; }
	#copy { position: absolute; right: 0; bottom: 10px; color: white; .opacity(.8); }

	.third { margin: 50px 0 0; }
	ul {
		li {
			a { position: relative; color: white; padding: 3px 0 1px; display: inline-block; .opacity(.6);
				&:before { position: absolute; top: 6px; left: -10px; content: "\f105"; font-family: FontAwesome; .transition(all .4s ease); }
				&:hover { border-bottom: 1px solid white; .opacity(1); 
					&:before { left: -20px; content: "\f101"; }
				}
			}
		}
	}
	a { border-bottom: 1px solid transparent; .transition(all .4s ease); } 
	a[href^="mailto:"] { color: @orange;
		&:hover { border-bottom: 1px solid @orange; }
	}
}

@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
	#header #logo,
	.i { background-image: url(img/sprite@2x.png) !important; }
}