@import 'http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400italic,400,600&subset=latin,latin-ext';
img,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 1em 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
::-webkit-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: italic;
}
:-moz-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: italic;
}
::-moz-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: italic;
}
:-ms-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: italic;
}
html body {
  background: url(img/bgr-main-01.jpg) no-repeat center top #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  overflow-x: hidden;
}
* {
  outline: none;
}
a {
  text-decoration: none;
  color: inherit;
}
input,
textarea {
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  font-size: .9em;
}
textarea {
  width: 100%;
}
strong {
  font-family: 'Open Sans', sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
  margin: 0;
}
table {
  font-size: 1em;
  color: inherit;
}
.selector {
  height: 38px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px !important;
  width: 100% !important;
  padding: 0;
  background: #333333 !important;
  border: 1px solid #cdcdcd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.selector:hover {
  cursor: pointer;
}
.selector select {
  background: #333333;
  color: inherit;
  height: 100%;
  top: 1px;
}
.selector select:hover {
  cursor: pointer;
}
.selector span {
  font-family: proxima_light;
  font-weight: normal;
  height: 38px;
  line-height: 38px;
  background: none !important;
}
.hidden {
  display: none;
}
.f-right {
  float: right;
}
.f-left {
  float: left;
}
.c-left {
  clear: left;
}
.c-right {
  clear: right;
}
.c-both {
  clear: both;
}
.p-rel {
  position: relative;
}
.block {
  display: block;
}
.i {
  display: inline-block;
}
.i.i-shopping-cart {
  width: 18px;
  height: 20px;
  background-image: url(img/sprite.png);
  background-repeat: no-repeat;
  background-position: -464px 0;
  background-size: 500px 500px;
}
.i.i-shopping-cart-w {
  width: 18px;
  height: 20px;
  background-image: url(img/sprite.png);
  background-repeat: no-repeat;
  background-position: -482px 0;
  background-size: 500px 500px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.i.i-pagi-left {
  width: 14px;
  height: 22px;
  background-image: url(img/sprite.png);
  background-repeat: no-repeat;
  background-position: -436px 0;
  background-size: 500px 500px;
}
.i.i-pagi-right {
  width: 14px;
  height: 22px;
  background-image: url(img/sprite.png);
  background-repeat: no-repeat;
  background-position: -450px 0;
  background-size: 500px 500px;
}
button {
  border: none;
  display: inherit;
  width: 100%;
}
.btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 10px;
  text-align: center;
  display: block;
  font-family: proxima_bold, sans-serif;
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.btn:hover {
  cursor: pointer;
}
.btn.btn-white {
  background: white;
}
.link {
  color: #2760af;
  display: block;
  text-align: center;
  text-decoration: underline;
}
.link:hover {
  color: #1e4985;
}
.link.margin-top {
  margin-top: 10px;
}
.link-green {
  color: #85c441;
}
.link-green:hover {
  cursor: pointer;
  color: #78b438;
}
.pointer:hover {
  cursor: pointer;
}
.half {
  width: 50%;
  float: left;
}
.third {
  width: 33.33333%;
  float: left;
}
.t-third {
  width: 66.66666%;
  float: left;
}
.quarter {
  width: 25%;
  float: left;
}
.t-quarter {
  width: 75%;
  float: left;
}
.full {
  width: 100%;
  float: left;
}
.t-white {
  color: white !important;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* TABS */
.tabs .tab-item {
  display: none;
  overflow: hidden;
}
.tabs .tab-item.active {
  display: block;
}
/* CONTENT */
.section > .wrapper {
  width: 960px;
  margin: 0 auto;
  display: table;
}
.section .section-row {
  display: table;
  width: 100%;
}
.section .section-row + .section-row {
  margin: 30px 0 0;
}
.section .section-row > div > .wrapper {
  padding: 0 10px;
}
.section .section-row .banner img {
  max-width: 100%;
  height: 100%;
}
.section .section-row h2 {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 700;
}
table.bordered {
  font-size: .8em;
  width: 100%;
  min-width: 302px;
}
table.bordered tr:nth-child(2n) td {
  background: #e3eaf5;
}
table.bordered tr td {
  padding: 5px 10px;
}
#header #logo {
  float: left;
  margin: 23px 0 0;
  display: inline-block;
  width: 139px;
  height: 139px;
  background: url(img/logo.png) no-repeat;
}
#header #menu-header-menu {
  float: right;
  color: white;
  text-align: center;
  font-size: .9em;
  line-height: 20px;
  position: relative;
  z-index: 1000;
  /* FIRST */
}
#header #menu-header-menu > li {
  float: left;
  position: relative;
  padding: 50px 0 0;
  width: 100px;
  /* SECOND */
}
#header #menu-header-menu > li a {
  display: block;
}
#header #menu-header-menu > li > a {
  padding: 0 0 20px;
  text-transform: uppercase;
  border-bottom: 4px solid transparent;
}
#header #menu-header-menu > li.current-menu-item > a,
#header #menu-header-menu > li.current-menu-parent > a,
#header #menu-header-menu > li:hover > a {
  font-weight: 700;
  border-bottom: 4px solid #e4792a;
  color: #e4792a;
}
#header #menu-header-menu > li > ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}
#header #menu-header-menu > li > ul > li {
  position: relative;
  width: 200px;
  margin-left: -50px;
  /* THIRD */
}
#header #menu-header-menu > li > ul > li a {
  padding: 10px 0;
  border: 1px solid #c26119;
  border-top: none;
}
#header #menu-header-menu > li > ul > li > a {
  background: #e4792a;
}
#header #menu-header-menu > li > ul > li > ul {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
}
#header #menu-header-menu > li > ul > li > ul > li a {
  background: #d96c1c;
  border-left: none;
}
#header #menu-header-menu > li > ul > li > ul > li:hover a {
  background: #c26119;
}
#header #menu-header-menu > li > ul > li:hover a {
  background: #d96c1c;
}
#header #menu-header-menu li:hover > ul {
  display: block;
}
#search {
  float: right;
  margin: 27px 10px 0 0;
  position: relative;
}
#search:after {
  content: "\f002";
  font-family: FontAwesome;
  position: absolute;
  top: 5px;
  right: 5px;
  color: #2760af;
}
#main {
  margin: 20px 0;
}
#main .banner {
  overflow: hidden;
}
#main .tabs .tab-header {
  background: #2760af;
  color: white;
  text-align: center;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: .8em;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
#main .tabs .tab-header.active {
  background: white;
  color: #2760af;
}
#main .tabs .tab-header a {
  padding: 10px;
  display: block;
}
#main .tabs .tab-item {
  background: white;
  float: left;
  width: 100%;
}
#main #content {
  background: white;
}
#main #content h1 {
  padding: 20px;
  border-bottom: 1px solid #d5dae1;
  font-weight: 300;
}
.content-wrapper {
  padding: 20px;
}
#top-news {
  width: 620px;
}
#top-news #top-news-slider {
  width: 440px;
  height: 324px;
  float: left;
  position: relative;
  overflow: hidden;
}
#top-news #top-news-slider .top-news-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  background: #2760af;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  z-index: 600;
}
#top-news #top-news-slider .top-news-slide.active {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  z-index: 700;
}
#top-news #top-news-slider .top-news-slide.active .title-wrapper .title {
  bottom: 0;
}
#top-news #top-news-slider .top-news-slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#top-news #top-news-slider .top-news-slide .title-wrapper {
  position: relative;
  height: 100%;
}
#top-news #top-news-slider .top-news-slide .title-wrapper .title {
  color: white;
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  background: url(img/bgr-transparent-blue.png);
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
}
#top-news #top-news-slider .top-news-slide .title-wrapper .title h3 {
  margin: 20px 20px 10px;
}
#top-news #top-news-slider .top-news-slide .title-wrapper .title p {
  font-size: .8em;
  margin: 0 20px 20px;
}
#top-news #top-news-slider .bullets {
  display: none;
}
#top-news #top-news-strips {
  width: 180px;
  float: left;
  padding-left: 1px;
}
#top-news #top-news-strips .top-news-strip {
  height: 64px;
  width: 100%;
  background: green;
  background: #2760af;
  display: block;
  font-size: .8em;
  color: white;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
#top-news #top-news-strips .top-news-strip + .top-news-strip {
  margin-top: 1px;
  overflow: hidden;
}
#top-news #top-news-strips .top-news-strip.active {
  background: url(img/bgr-transparent-blue.png);
  color: white;
}
#top-news #top-news-strips .top-news-strip:hover {
  background: #1e4985;
  color: white;
}
#top-news #top-news-strips .top-news-strip table {
  width: 100%;
}
#top-news #top-news-strips .top-news-strip table td {
  padding-right: 10px;
}
#top-news #top-news-strips .top-news-strip table td:first-child {
  width: 1px;
}
#top-news #top-news-strips .top-news-strip table img {
  width: 44px;
  margin: 10px 0 10px 10px;
  float: left;
}
#partners {
  background: #0a1b32;
  height: 100px;
}
#footer {
  height: 289px;
  background: url(img/bgr-footer-01.jpg) no-repeat center;
  font-size: .9em;
}
#footer > .wrapper {
  position: relative;
  height: 100%;
}
#footer #copy {
  position: absolute;
  right: 0;
  bottom: 10px;
  color: white;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -webkit-opacity: 0.8;
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
#footer .third {
  margin: 50px 0 0;
}
#footer ul li a {
  position: relative;
  color: white;
  padding: 3px 0 1px;
  display: inline-block;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  -webkit-opacity: 0.6;
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
#footer ul li a:before {
  position: absolute;
  top: 6px;
  left: -10px;
  content: "\f105";
  font-family: FontAwesome;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}
#footer ul li a:hover {
  border-bottom: 1px solid white;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
#footer ul li a:hover:before {
  left: -20px;
  content: "\f101";
}
#footer a {
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}
#footer a[href^="mailto:"] {
  color: #e4792a;
}
#footer a[href^="mailto:"]:hover {
  border-bottom: 1px solid #e4792a;
}
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  #header #logo,
  .i {
    background-image: url(img/sprite@2x.png) !important;
  }
}
