@import 'plugin.less'; 
@import 'http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400italic,400,600&subset=latin,latin-ext';

@red:      #df0021;
@redError: #c2151b;
@green:    #85c441;

@grayDark:  #333333;
@grayLight: #d5dae1;

@blue:      #2760af;
@blueLight: #e3eaf5;
@blueDark:  #0a1b32;

@wrapperWidth: 960px;

.sprite(@arguments) { background-image: url(img/sprite.png); background-repeat: no-repeat; background-position: @arguments; background-size: 500px 500px; }

::-webkit-input-placeholder { font-family: 'Open Sans', sans-serif; .light(); font-style: italic; }
:-moz-placeholder { font-family: 'Open Sans', sans-serif; .light(); font-style: italic; }
::-moz-placeholder { font-family: 'Open Sans', sans-serif; .light(); font-style: italic; }
:-ms-input-placeholder { font-family: 'Open Sans', sans-serif; .light(); font-style: italic; }

html {
	body { background: url(img/bgr-main-02.jpg) no-repeat center top white; font-family: 'Open Sans', sans-serif; font-size: 1em; overflow-x: hidden;
		&.not-found { background: url(img/bgr-404.jpg) no-repeat center top; }
	}
}	
* { outline: none; }
a { text-decoration: none; color: inherit; }
input, textarea { font-family: 'Open Sans', sans-serif; color: @grayDark; .box-sizing(border-box); padding: 5px; .border-radius(3px); border: none; font-size: .9em; }
textarea { width: 100%; }
strong { font-family: 'Open Sans', sans-serif; }
ul { margin: 0; padding: 0;
	li { list-style: none; }
}
h1, h2, h3, h4, h5, h6, p { font-weight: normal; margin: 0; }
table { font-size: 1em; color: inherit; }
.strong() { font-weight: 700; }
.normal() { font-weight: 400; }
.light()  { font-weight: 300; }

.selector { height: 38px; .box-sizing(border-box); padding: 0 10px !important; width: 100% !important; padding: 0; background: @grayDark !important; border: 1px solid #cdcdcd; .border-radius(3px); 
	&:hover { cursor: pointer; }
	select { background: @grayDark; color: inherit; height: 100%; top: 1px;
		&:hover { cursor: pointer; }
	}
	span { font-family: proxima_light; font-weight: normal; height: 38px; line-height: 38px; background: none !important; }
}
.hidden  { display: none; }

.f-right { float: right; }
.f-left  { float: left; }
.c-left  { clear: left; }
.c-right { clear: right; }
.c-both  { clear: both; }

.v-top { vertical-align: top !important; }

.t-right  { text-align: right !important; }
.t-center { text-align: center !important; }
.t-left   { text-align: left !important; }

.t-bigger { font-size: 1.6em !important; }

.t-white { color: white !important; }
.t-green { color: @green !important; }
.t-red   { color: @red !important; }
.t-gray  { color: #666666 !important; }

.p-rel { position: relative; }

.block   { display: block; }

.b-blue-light { background: @blueLight; }

.i { display: inline-block;
	&.i-shopping-cart { width: 18px; height: 20px; .sprite(-464px 0);  }
	&.i-shopping-cart-w { width: 18px; height: 20px; .sprite(-482px 0); .transition(all .2s ease); }
	&.i-pagi-left  { width: 14px; height: 22px; .sprite(-436px 0); }
	&.i-pagi-right { width: 14px; height: 22px; .sprite(-450px 0); }
}

button { border: none; display: inherit; width: 100%; }
.btn { .border-radius(3px); padding: 10px; text-align: center; display: block; font-family: proxima_bold, sans-serif; text-decoration: none; color: white; .transition(all .3s ease);
	&:hover { cursor: pointer; }
	&.btn-white { background: white;

	}
}
.link { color: @blue; display: block; text-align: center; text-decoration: underline;
	&:hover { color: darken(@blue, 10%); }
	&.margin-top { margin-top: 10px; }
}		
.link-green { color: @green;
	&:hover { cursor: pointer; color: darken(@green, 5%); }
}
.pointer {
	&:hover { cursor: pointer; }
}

.half      { width: 50%; float: left; }
.third     { width: 33.33333%; float: left; }
.t-third   { width: 66.66666%; float: left; }
.quarter   { width: 25%; float: left; }
.t-quarter { width: 75%; float: left; }
.full      { width: 100%; float: left; }

* { .box-sizing(border-box); }

/* FACEBOOK */
.fb-like-box { width: 280px; overflow: hidden; }

/* TABS */
.tabs {
	.tab-item { display: none; overflow: hidden;
		&.active { display: block; }
		a { display: block; height: 35px; overflow: hidden;
			&.more { line-height: 35px; }
		}
	}
}

/* COLLAPSE */
[data-collapse-header] {
	background-color: #F3F7FC;
	border-bottom: 1px solid #BDCEE8;
	padding: 5px 0;
	position: relative;
	&:before {
		position: absolute;
		font-family: FontAwesome;
		top: 10px;
		left: 10px;
		content: '\f054';
		font-size: 14px;
		color: #2760AF;
		.transition;
	}
	&.active {
		&:before {
			.transform(rotate(90deg));
		}
	}
	&:hover {
		cursor: pointer;
	}
}
[data-collapse-body] {
	display: none;
	&.active {
		display: block;
	}
}

a.more { line-height: 35px; display: block; padding: 0 10px; }

/* FULLCALENDAR */
#calendar { height: 250px; }
#wpfc-calendar-wrapper #wpfc-calendar {
	.ui-widget-content { color: @blue; }
	.ui-widget-header  { text-transform: uppercase; font-size: .9em; line-height: 30px; border-top: 1px solid @blueLight; }
	.ui-state-default { border: none; background: none; }
	.ui-state-highlight { border: none; }
	.ui-icon { display: inline-block; font-family: FontAwesome; color: @blue; font-size: 1.3em !important; padding: 5px 10px 0; background: none; text-indent: inherit; height: auto; width: auto;
		&.ui-icon-circle-triangle-w:before { content: '\f053'; }
		&.ui-icon-circle-triangle-e:before { content: '\f054'; }
	}
	.fc-header-center {
		.fc-header-title {
			h2 { font-size: 1.3em !important; padding: 3px 0 0; }
		}
	}
	.fc-view { overflow: visible !important;
		.fc-day-number { width: 100%; text-align: center; }
		.fc-day-content { display: none; }
	}
	.fc-day { .transition;
		&.fc-today { background: @orange; color: white; }
		&.event-day { background: @blue; color: white; position: relative;
			&:hover { cursor: pointer; }
			&.fc-today { .box-shadow(0 -4px 0 0 @orange inset); }
			.event-content { z-index: 1000; position: absolute; top: 0; left: 100%; text-align: left; color: white;
				a { display: block; padding: 6px 5px 7px; 
					&.type-podujatie { background: #8e44ad; }
					&.type-zapas { background: darken(@blue, 10%); }
				}
				.fc-event-inner {
					.fc-event-time { display: none; }
					span { white-space: nowrap; }
				}
			}
		}
		&.active { background: darken(@blue, 10%); }
	}
	.fc-day { text-align: center; vertical-align: middle; height: 30px;
		& > div:first-child { min-height: initial !important; }
	}
}

/* GALLERY */
#mbk {
	.slideshowlink { display: none; }
	.ngg-galleryoverview { margin-top: 0; }
	.ngg-gallery-thumbnail-box { width: 25%; margin-right: 0;
		.ngg-gallery-thumbnail  {
			a { display: block; }
			img { padding: 3px; margin: 0; border: none; .transition();
				&:hover { background: @blue; }
			}
		}
	}
	.ngg-albumoverview { text-align: center; }
	.ngg-album-compact { float: none; display: inline-block; vertical-align: top;
		.ngg-album-compactbox { border: 1px solid @blueLight; .border-radius(none);
			&:before, &:after { border: none; }
			.Thumb { border: none !important; }
		}
		h4 {
			.ngg-album-desc { height: auto; }
		}
	}

	.gallery-small {
		.ngg-gallery-thumbnail-box { width: 33.33333%;
			img { width: 100%; height: auto; }
		}
	}
}

/* LIGHTBOX */
#mbk {
	.dark .highslide-image { background: white; }
}

/* MSCROLL */
.mscroll { position: relative; height: 270px; margin: 10px 0;
	.mCSB_inside {
		& > .mCSB_container { margin-right: 0; }
	}
}

/* NINJA FORMS */
#mbk {
	.ninja-forms-cont {
		.ninja-forms-response-msg { padding-bottom: 20px; margin-bottom: 10px; }
		.ninja-forms-success-msg  { color: darken(@green, 5%); border-bottom: 1px solid darken(@green, 5%);
			a { color: darken(@green, 5%)!important; }
		}
		.ninja-forms-error-msg    { color: @redError; border-bottom: 1px solid @redError; }
		.ninja-forms-required-items { color: #666; font-size: 13px; text-align: right; }
		.field-wrap { margin-bottom: 10px;
			label { color: darken(@blue, 10%);
				.ninja-forms-req-symbol { font-size: 13px; vertical-align: top; color: #e74c3c; }
			}
			input, select { border: 1px solid darken(@blueLight, 10%); background: lighten(@blueLight, 5%); .border-radius(0); .transition;
				&:focus, &:active { border-color: @blue; background: lighten(@blueLight, 5%); }
				&[type="submit"] { padding: 10px 20px; background: @blue; color: white; border: none;
					&:hover { background: darken(@blue, 10%) }
				}
			}
			select { height: 30px; padding: 5px; }
			.ninja-forms-field-error { color: @redError; font-size: 13px; }
		}
	}
}

/* CONTENT */
.section {
	& > .wrapper { width: @wrapperWidth; margin: 0 auto; display: table; table-layout: fixed;

	}
	&.section-404 { min-height: 500px;		
		ul { margin: 250px 0 0 10px;
			li { position: relative;
				a { color: @blue;
					&:before { position: absolute; top: 2px; left: -10px; content: "\f105"; font-family: FontAwesome; .transition(all .4s ease); }
					&:hover { border-bottom: 1px solid @blue; .opacity(1); 
						&:before { left: -20px; content: "\f101"; }
					}
				}
			}
		}
	}
	.section-row { display: table; table-layout: fixed; width: 100%;
		& + .section-row { margin: 20px 0 0; }
		& > div {
			& > .wrapper { padding: 0 10px; }
		}
		.banner {
			& > .wrapper { min-height: 324px; background: url(img/banner-00.jpg) no-repeat 10px top; }
			img { max-width: 100%; height: 100%; }
		}
		h2 { text-transform: uppercase; font-size: 1.2em; font-weight: 700; margin: 0 0 10px; }
	}
	.section-column { background: white; padding: 10px; min-height: 250px;
		&-nopadding { padding: 10px 0; }
		.nameday { background: @blueLight; text-align: center; padding: 5px 0; margin-bottom: 10px; }
	}
}

@orange: #e4792a;
#header {
	#logo { float: left; margin: 23px 0 0; display: inline-block; width: 139px; height: 139px; background: url(img/logo.png) no-repeat; background-size: 139px 139px; }
	#menu-header-menu { float: right; color: white; text-align: center; font-size: .9em; line-height: 20px; position: relative; z-index: 1000;
		/* FIRST */
		li {

		}
		& > li { float: left; position: relative; padding: 50px 0 0; width: 100px;
			a { display: block; } 
			& > a { padding: 0 0 20px; text-transform: uppercase; border-bottom: 4px solid transparent; }
			&.current-menu-item, &.current-page-ancestor, &.current-menu-parent, &:hover {
				& > a { font-weight: 700; border-bottom: 4px solid @orange; color: @orange; }
			}
			/* SECOND */
			& > ul { display: none; position: absolute; top: 100%; left: 0;
				& > li { position: relative; width: 200px; margin-left: -50px;
					/* THIRD */
					a { padding: 10px 0; background: @orange; border: 1px solid darken(@orange, 10%); border-top: none; }

					& > ul { display: none; position: absolute; top: 0; left: 100%; width: 100%;
						& > li { position: relative;
							/* FOURTH */
							& > ul { display: none; position: absolute; left: 100%; top: 0; width: 100%;
								& > li {
									&:hover {
										& > a { background: darken(@orange, 5%); }
									}
								}
							}
							&:hover {
								& > ul { display: block; }
								& > a { background: darken(@orange, 5%); }
							}
							a { border-left: none; }
						}
					}
					&:hover {
						& > a { background: darken(@orange, 5%); }
					}
				}
			}
		}
		li:hover {
			& > ul { display: block; }
		}
	}
}

.socials-mini { float: right; margin: 27px 10px 0;
	a { display: inline-block; font-size: 20px; color: white; .transition(all .2s ease); padding: 0 5px; vertical-align: middle;
		&.membership { width: 210px; height: 26px; background: url(img/img-membership.png) no-repeat;
			&:hover { .transform(rotate(-1.5deg)); }
		}
		&.facebook:hover { color: #3b5998; }
		&.youtube:hover  { color: #cd201f; } 
	}
}
#search { float: right; margin: 27px 10px 0 0; position: relative;
	&:after { content: "\f002"; font-family: FontAwesome; position: absolute; top: 5px; right: 5px; color: @blue; }
}

table.bordered { width: 100%; min-width: 302px;
	tr { font-size: .8em;
		&:nth-child(2n) {
			td { background: @blueLight; }
		}
		td, th { padding: 5px 10px; }
	}
}
table.members {
	.fa-user { font-size: 14px; color: lighten(@blue, 20%); border: 1px solid @blueDark; padding: 5px; background: lighten(@blueDark, 5%); }
	.fa-check-circle { font-size: 18px; }
	.fa-times-circle { font-size: 12px; margin-left: 2px; }
}
#main { margin: 20px 0;
	&.partneri {
		#content {
			h2 { font-size: 1.8em; border-bottom: 2px solid darken(@blue, 10%); color: darken(@blue, 20%); }
			table { border: none;
				& + table { border-top: 1px dotted lighten(@blue, 20%);; }
				tr {
					td { width: 200px;
						img { margin: 20px 0; }
					}
				}
			}
		}
	}
	div, article {
		&:before, &:after { content: ''; display: table; clear: both; }
	}
	// .banner {s }
	.tabs { margin-top: -10px;
		.tab-header { .opacity(.5); background: @blue; color: white; text-align: center; .border-radiuses(2px, 0, 0, 2px); font-size: .8em; text-transform: uppercase; .transition(all .3s ease);
			&.active { .opacity(1); }
			a { padding: 10px; display: block; }
		}
		.tab-item { background: white; float: left; width: 100%; }
		table { min-width: 302px; }
	}
	#content { background: white; font-size: .95em; min-height: 450px; .box-shadow(3px 3px 0 darken(@blueLight, 10%));
		& > * {
			& > * { margin-top: 10px; }
		}
		h1 { padding: 20px; border-bottom: 1px solid @grayLight; .light(); line-height: 1.1em;
			small { font-size: .5em; }
		}
		h2 { margin: 0;
			& + h2 { margin-top: 20px; }
			& + ul { margin-top: 10px; }
			& + table { margin-top: 10px; border-top: 1px solid @blueLight; border-bottom: 1px solid @blueLight; }
		}
		h3 {
			& + h3 { margin-top: 20px; }
			& + ul { margin-top: 10px; }
		}
		p { margin: 10px 0;
			&:last-child  { margin-bottom: 0; }
			& + h2 { margin-top: 20px; }
			& + table { margin-top: -5px; border-top: 1px solid @blueLight; border-bottom: 1px solid @blueLight; }
		}
		ul { margin: -5px 0 0 10px;
			& + p, & + h2 { margin-top: 20px; }
			li { padding-left: 20px; position: relative; color: darken(@blue, 25%);
				&:before { color: @blue; font-size: 1.1em; content: '\f105'; top: 2px; left: 5px; font-family: FontAwesome; position: absolute; display: inline-block; }
			}
		}
		a { color: @blue; text-decoration: underline;
			color: darken(@blue, 10%);
		}
		img { margin: 0 auto; max-width: 100%; height: auto;
			& + img { margin-top: 20px; }
		}
		hr { display: inline-block; margin: 30px 0 0px; border: none; height: 1px; width: 100%; background: darken(@blueLight, 30%);
			& + h2, & + h3 { margin-top: 20px; }
		}
		/* TABLES */
		table { width: 100%; table-layout: fixed;
			& + p, & + h2, & + table {
				margin-top: 25px !important;
			}
			&.nopadding {
				tr {
					td, th { padding: 5px 0; }
				}
			}
			&.player {
				img { max-width: 300px; height: auto; }
				tr {
					td, th { font-size: 1.1em; padding: 5px 15px; }
				}
			}
			tr { font-size: .85em;
				&:nth-child(2n) {
					td { background: @blueLight; }
				}
				td, th { padding: 5px 5px;
					&.td-min { width: 1px; white-space: nowrap; }
				}
			}
			thead {
				&.header {
					font-size: 20px;
					& > tr > td {
						border-bottom: 1px solid #E3EAF5;
					}
				}
				tr {
					th { text-align: left; color: @blue; width: auto !important; }
				}
			}
		}
		.article {
			& + .article { margin: 20px 0 0; border-top: 1px solid @grayLight; padding: 20px 0 0; }
			&.article-horizontal {
				.article-image { float: left; width: 200px; margin: 0 20px 0 0;
					& + .header { padding-left: 220px; }
				}
			}
		}
		.article-single { font-size: .95em;
			img { margin: 0 auto; max-width: 100%; height: auto; }
			.article-image { float: left; width: 250px; margin: 0 20px 0 0;
					& + * { margin-top: 0; }
				}
		}
		.meta-edit { background: @green; display: inline-block; padding: 5px 10px;
			&:hover { background: darken(@green, 10%); }
			a { color: white; text-decoration: none; }
		}
		.pager { margin-top: 20px;
			.wp-pagenavi {
				.pages { display: none; }
				span { border: none; color: @blue;
					&.current { background: darken(@blue, 10%); color: white; font-weight: 300; }
				}
				a { text-decoration: none; border: none; color: @blue; .transition;
					&:hover { background: @blue; color: white; }
				}
			}
		}
		/* BOXES */
		.boxes { text-align: center; margin-bottom: 20px;
			.box { margin: 2px 0; display: inline-block; color: white; background: @blue; padding: 5px 15px; text-decoration: none; .border-radius(3px); .transition;
				&:hover, &.active { background: @orange; }
			}
		}
	}
}

.content-wrapper { padding: 20px;
	& > * {
		&:first-child { margin-top: 0 !important; }
	}
}

.swiper-container { position: relative; overflow: hidden;
	.swiper-wrapper { width: 100%; position: relative;
		.swiper-slide { float: left; }
	}
}

.swiper-container { height: 324px;
	.swiper-wrapper {
		.swiper-slide { text-align: center;
			img { margin-top: 50px; border: 3px solid #16468A; width: 150px; height: auto; display: inline-block; }
		}
	}
	&:hover {
		.swiper-arrows {
			& > a { .opacity(1);
				&.previous { left: 0; }
				&.next { right: 0; }
			}
		}
	}
	.swiper-arrows {
		& > a { padding: 20px; position: absolute; bottom: 0; z-index: 999; .opacity(0); .transition;
			&:hover { .pointer; }
			&.previous { left: -40px; }
			&.next { right: -40px; }
			.fa { font-size: 20px; color: #16468A; }
		}
	}
	.swiper-pagination { width: 100%; position: absolute; bottom: 5px; text-align: center;
		.swiper-pagination-switch { display: inline-block; margin: 0 3px; background: #16468A; width: 5px; height: 5px; .border-radius(50%); .transition; .opacity(.5);
			&:hover { .pointer; }
			&.swiper-active-switch { .opacity(1); }
		}
	}
}

@newsWidth: 620px;
#top-news { width: @newsWidth;
	#top-news-slider { width: 440px; height: 324px; float: left; position: relative; overflow: hidden;
		.top-news-slide { position: absolute; top: 0; left: 0; width: 100%; height: 100%; .opacity(0); background: @blue; .transition(all .4s ease); z-index: 600;
			&.active { .opacity(1); z-index: 700;
				.title-wrapper {
					.title { bottom: 0; }
					.show-more { display: none; }
				}
			}
			img { position: absolute; top: 0; left: 0; width: 100%; }
			.title-wrapper { position: relative; height: 100%;
				.title { color: white; position: absolute; bottom: -100%; left: 0; width: 100%; background: url(img/bgr-transparent-blue.png); .transition(all .8s ease);
					h3 { margin: 20px 20px 10px; font-size: 1em; }
					span  { font-size: .8em; margin: 0 20px 20px; display: inline-block; }
				}
			}
		}
		.bullets { display: none; }
	}
	#top-news-strips { width: 180px; float: left; padding-left: 1px;
		.top-news-strip { height: 64px; width: 100%; background: green; background: darken(@blue, 0%);; display: block; font-size: .8em; color: white; .transition(all .2s ease);
			& + .top-news-strip { margin-top: 1px; overflow: hidden; }
			&.active { background: url(img/bgr-transparent-blue.png); color: white; }
			&:hover { background: darken(@blue, 10%); color: white; }
			table { width: 100%;
				td { padding-right: 10px; max-height: 44px;
					&:first-child { width: 1px; }
					span { height: 52px; display: inline-block; overflow: hidden; }
				}
				img { width: 44px; height: 44px; margin: 10px 0 10px 10px; float: left; }
			}
		}
	}
}

#partners { background: @blueDark; height: 100px; text-align: center;
	img { display: inline-block; height: 50px; margin: 25px 10px; }
}

#footer { height: 289px; background: url(img/bgr-footer-01.jpg) no-repeat center; font-size: .9em;
	& > .wrapper { position: relative; height: 100%; }
	#copy { position: absolute; left: 0; bottom: 10px; color: white; .opacity(.8); }
	#z    { position: absolute; right: 0; bottom: 10px; display: inline-block; width: 20px; height: 20px; background: url(img/logo-z.jpg) no-repeat; .opacity(.5);
		&:hover { .opacity(1); }
	}

	.third { margin: 40px 0 0; }
	ul { margin-left: 10px;
		li {
			a { position: relative; color: white; padding: 3px 0 1px; display: inline-block; .opacity(.6);
				&:before { position: absolute; top: 6px; left: -10px; content: "\f105"; font-family: FontAwesome; .transition(all .4s ease); }
				&:hover { border-bottom: 1px solid white; .opacity(1); 
					&:before { left: -20px; content: "\f101"; }
				}
			}
		}
	}
	a { border-bottom: 1px solid transparent; .transition(all .4s ease); } 
	a[href^="mailto:"] { color: @orange;
		&:hover { border-bottom: 1px solid @orange; }
	}
}


@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
	#header #logo { background-image: url(img/logo@2x.png); }
}
